/* * {
  border: 1px solid red;

} */

@import url('https://fonts.googleapis.com/css?family=Lato:400,700,900');

body{
  margin:0;
  padding:0;
  font-family: 'Lato', sans-serif;
  text-align: center;
  font-size: 1.2rem;
}

.container{
  padding: 10vh 10vw;
}

#inside{
  margin: auto;
  width: 50%;
  height: 50%;
  background-color: #e2e2e2;
  border-radius: 25px;
}


h1{
  font-size: 3.2rem;
  margin-top: -2vh;
  margin-bottom: 0;
}

p{
  color: #000000;
}

hr{
  width: 50%;
  background-color: ;

}

#title{
  margin: 0;
  padding-top: 1.5vh;
  font-size: 1.5rem;
}

#instruction{
  font-size: 1.5rem;
  margin-bottom: 0;
}

.img-weapon{
  max-width: 110px;
  height: auto
}

.choice{
  margin: auto;
}

.select-choice{
  display: inline-block;
  border: 5px solid #000000;
  border-radius: 80px;
  background-color: #fff500;
  margin: 1rem;
  transition: all 0.6s ease;
}

.select-choice:hover{
  background-color: #a6a6a6;
  cursor: pointer;
}

.result{
  font-size: 1.7rem;
  font-weight: 600;
}

.total-score{
  line-height: 0.5rem;
}


.win-border {
  border: 5px solid #3bff00;
  box-shadow: 2px 2px 12px #3e3e3e;
}

.lose-border{
  border: 5px solid #ff0000;
  box-shadow: 2px 2px 12px #3e3e3e;

}

.tie-border{
  border: 5px solid #464647;
  box-shadow: 2px 2px 12px #3e3e3e;
}

footer{
  font-size: 0.7rem;
  line-height: 0.2rem;
}

.icons{
  max-width: 20px;
  height: auto;
}


/* MEDIA QUERIES */

@media (max-width: 1200px){
  #inside{
    width: 65%;
    height: 65%;
  }
}

@media (max-width: 992px){

  #inside{
    width: 70%;
    height: 70%;
  }

  .img-weapon{
    max-width: 95px;
    height: auto
  }

  .select-choice{
    margin: 1vh 1vw;
  }

}

@media (max-width: 768px){
  #inside{
    width: 80%;
    height: 80%;
  }

  .img-weapon{
    max-width: 75px;
    height: auto
  }

  .select-choice{
    margin: 1vh 1vw;
  }
}

@media (max-width: 576px){
  #inside{
    width: 90%;
    height: 90%;
  }

  .img-weapon{
    max-width: 60px;
    height: auto
  }

  .select-choice{
    margin: 1vh 1vw;
  }
}
